@model Repository

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Периодическая система химических элементов Д.И.Менделеева</title>
</head>

<body>

    @{
        var chemicalElements = Model.ChemicalElements;
        int Count = chemicalElements.Count;
        int value;
    }

    <div>
        <p>
            Д. И. Менделеев - один из самых гениальных химиков XIX века;
            провёл многочисленные определения физических констант соединений
            (удельные объёмы, расширение и т. д.), изучал Донецкие месторождения каменного угля,
            разработал гидратную теорию растворов. Написал «Основы химии» (1868—1871) — труд,
            многочисленные издания которого оказали влияние на химиков-неоргаников.
        </p>
    </div>

    <table border="1">
        <caption>Периодическая система химических элементов Д.И.Менделеева</caption>
        <thead>
            <tr>
                <th rowspan="2">Периоды</th>
                <th rowspan="2">Ряды</th>
                <th colspan="11">Группы элементов</th>
            </tr>

            <tr>
                @for (int i = 1; i < 11 - 3; i++)
                {
                    <th>@i</th>
                }
                <th colspan="4">8</th>
            </tr>
        </thead>

        <tr>
            @{
                value = 1;
            }
            <td>@value</td>
            <td>@value</td>
            <td>
                <div>
                    <p>@chemicalElements[0].AtomicNumber</p>
                    <p>@chemicalElements[0].Symbol</p>
                    <p>@chemicalElements[0].Name</p>
                    <p>@chemicalElements[0].AverageAtomicMass</p>
                </div>
                </th>

                @for (int i = 0; i < 6; i++)
                {
                <td>
                    <div></div>
                </td>
                }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <div>
                    <p>@chemicalElements[1].AtomicNumber</p>
                    <p>@chemicalElements[1].Symbol</p>
                    <p>@chemicalElements[1].Name</p>
                    <p>@chemicalElements[1].AverageAtomicMass</p>
                </div>
            </td>
        </tr>

        <tr>
            @{
                value = 2;
            }
            <td>@value</td>
            <td>@value</td>

            @for (int i = 2; i < 2 + 7; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <p>@chemicalElements[9].AtomicNumber</p>
                <p>@chemicalElements[9].Symbol</p>
                <p>@chemicalElements[9].Name</p>
                <p>@chemicalElements[9].AverageAtomicMass</p>
            </td>
        </tr>

        <tr>
            @{
                value = 3;
            }
            <td>@value</td>
            <td>@value</td>

            @for (int i = 10; i < 10 + 7; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <p>@chemicalElements[17].AtomicNumber</p>
                <p>@chemicalElements[17].Symbol</p>
                <p>@chemicalElements[17].Name</p>
                <p>@chemicalElements[17].AverageAtomicMass</p>
            </td>
        </tr>

        <tr>
            <td rowspan="2">4</td>
            <td>4</td>

            @for (int i = 18; i < 18 + 10; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td>
                <div></div>
            </td>
        </tr>

        <tr>
            <td>5</td>

            @for (int i = 28; i < 28 + 7; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <p>@chemicalElements[35].AtomicNumber</p>
                <p>@chemicalElements[35].Symbol</p>
                <p>@chemicalElements[35].Name</p>
                <p>@chemicalElements[35].AverageAtomicMass</p>
            </td>
        </tr>

        <tr>
            @{
                value = 5;
            }

            <td rowspan="2">@value</td>
            <td>6</td>

            @for (int i = 36; i < 36 + 6; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td>
                <p>@chemicalElements[42].AtomicNumber</p>
                <p>@chemicalElements[42].Symbol</p>
                <p>@chemicalElements[42].Name</p>
                <p>@chemicalElements[42].AverageAtomicMassString</p>
            </td>

            @for (int i = 43; i < 43 + 3; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td>
                <div></div>
            </td>
        </tr>

        <tr>
            <td>7</td>
            @for (int i = 46; i < 46 + 7; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <p>@chemicalElements[53].AtomicNumber</p>
                <p>@chemicalElements[53].Symbol</p>
                <p>@chemicalElements[53].Name</p>
                <p>@chemicalElements[53].AverageAtomicMass</p>
            </td>
        </tr>

        <tr>
            @{
                value = 6;
            }

            <td rowspan="2">@value</td>
            <td>8</td>

            @for (int i = 54; i < 54 + 2; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td>
                <div>
                    <p>57-71</p>
                    <p>Лантаноиды</p>
                </div>
            </td>

            @for (int i = 56; i < 56 + 7; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            <td>
                <div></div>
            </td>
        </tr>

        <tr>
            <td>9</td>

            @for (int i = 63; i < 63 + 5; i++)
            {
                <td>

                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMass</p>
                </td>
            }

            @for (int i = 68; i < 68 + 2; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMassString</p>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <p>@chemicalElements[70].AtomicNumber</p>
                <p>@chemicalElements[70].Symbol</p>
                <p>@chemicalElements[70].Name</p>
                <p>@chemicalElements[70].AverageAtomicMassString</p>
            </td>
        </tr>

        <tr>
            @{
                value = 7;
            }
            <td>@value</td>
            <td>10</td>

            @for (int i = 71; i < 71 + 2; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMassString</p>
                </td>
            }

            <td>
                <div>
                    <p>89-103</p>
                    <p>Актиноиды</p>
                </div>
            </td>

            @for (int i = 73; i < 73 + 5; i++)
            {
                <td>
                    <p>@chemicalElements[i].AtomicNumber</p>
                    <p>@chemicalElements[i].Symbol</p>
                    <p>@chemicalElements[i].Name</p>
                    <p>@chemicalElements[i].AverageAtomicMassString</p>
                </td>
            }

            @for (int i = 0; i < 3; i++)
            {
                <td>
                    <div></div>
                </td>
            }
        </tr>

        <tr>
            <td colspan="2">
                <p>ВЫСШИЕ ОКСИДЫ</p>
                <p>ОКСИДЫ</p>
            </td>
            <td>R<sub>2</sub>O</td>
            <td>RO</td>
            <td>R<sub>2</sub>O<sub>3</sub></td>
            <td>RO<sub>2</sub></td>
            <td>R<sub>2</sub>O<sub>5</sub></td>
            <td>RO<sub>3</sub></td>
            <td>R<sub>2</sub>O<sub>7</sub></td>
            <td colspan="4">RO<sub>4</sub></td>
        </tr>
        <tr>
            <td colspan="2">
                <p>ЛЕТУЧИЕ</p>
                <p>ВОДОРОДНЫЕ</p>
                <p>СОЕДИНЕНИЯ</p>
            </td>

            @for (int i = 0; i < 3; i++)
            {
                <td>
                    <div></div>
                </td>
            }

            <td>RH<sub>4</sub></td>
            <td>RH<sub>3</sub></td>
            <td>H<sub>2</sub>R</td>
            <td>HR</td>
            <td colspan="4"></td>
        </tr>

    </table>

</body>

</html>