@model Repository

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Периодическая система химических элементов Д.И.Менделеева</title>
    <link rel="stylesheet" href="~/css/elements-style.css">
</head>

<body>

    @{
        var chemicalElements = Model.ChemicalElements;
        int value;
    }

    @functions {
        enum Elements
        {
            mainElements,
            lanthanides,
            actinides
        }
    }

    @functions {
        string UrlHref(int number, Elements elements)
        {
            if (elements == Elements.mainElements) return Model.GetWebModel.URL(Model.ChemicalElements[number].AtomicNumber);
            else if (elements == Elements.lanthanides) return
            Model.GetWebModel.UrlLanthan(Model.Lanthanides[number].AtomicNumber);
            else return Model.GetWebModel.UrlActin(Model.Actinides[number].AtomicNumber);
        }
    }

    <div class="main-info">
        <p>
            Д. И. Менделеев - один из самых гениальных химиков XIX века;
            провёл многочисленные определения физических констант соединений
            (удельные объёмы, расширение и т. д.), изучал Донецкие месторождения каменного угля,
            разработал гидратную теорию растворов. Написал «Основы химии» (1868—1871) — труд,
            многочисленные издания которого оказали влияние на химиков-неоргаников.
        </p>
    </div>

    <table>
        <caption>Периодическая система химических элементов Д.И.Менделеева</caption>
        <thead>
            <tr>
                <th rowspan="2">Периоды</th>
                <th rowspan="2">Ряды</th>
                <th colspan="11">Группы элементов</th>
            </tr>

            <tr>
                @for (int i = 1; i < 11 - 3; i++)
                {
                    <th>@i</th>
                }
                <th colspan="4">8</th>
            </tr>
        </thead>

        <tr>
            @{
                value = 1;
            }
            <td>@value</td>
            <td>@value</td>
            <td>
                <div class="non-metal">
                    <p class="item">@chemicalElements[0].AtomicNumber</p>
                    <a href="@UrlHref(0, Elements.mainElements)">
                        <p class="item">@chemicalElements[0].Symbol</p>
                    </a>
                    <p class="item">@chemicalElements[0].Name</p>
                    <p class="item">@chemicalElements[0].AverageAtomicMass</p>
                </div>
            </td>

            @for (int i = 0; i < 6; i++)
            {
                <td>
                    <div></div>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <div class="noble-gas">
                    <p class="item">@chemicalElements[1].AtomicNumber</p>
                    <a href="@UrlHref(1, Elements.mainElements)">
                        <p class="item">@chemicalElements[1].Symbol</p>
                    </a>
                    <p class="item">@chemicalElements[1].Name</p>
                    <p class="item">@chemicalElements[1].AverageAtomicMass</p>
                </div>
            </td>
        </tr>

        <tr>
            @{
                value = 2;
            }
            <td>@value</td>
            <td>@value</td>

            @for (int i = 2; i < 2 + 7; i++)
            {
                string divClass = string.Empty;
                @if (i == 2) divClass = "alkali-metal";
                else if (i == 3) divClass = "alkaline-earth-metal";
                else if (i == 4) divClass = "metalloid";
                else if (i >= 5 && i <= 7) divClass = "non-metal";
                else if (i == 8) divClass = "halogen";
                else divClass = "noble-gas";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <div class="noble-gas">
                    <p class="item">@chemicalElements[9].AtomicNumber</p>
                    <a href="@UrlHref(9, Elements.mainElements)">
                        <p class="item">@chemicalElements[9].Symbol</p>
                    </a>
                    <p class="item">@chemicalElements[9].Name</p>
                    <p class="item">@chemicalElements[9].AverageAtomicMass</p>
                </div>
            </td>
        </tr>

        <tr>
            @{
                value = 3;
            }
            <td>@value</td>
            <td>@value</td>

            @for (int i = 10; i < 10 + 7; i++)
            {
                string divClass = string.Empty;
                @if (i == 10) divClass = "alkali-metal";
                else if (i == 11) divClass = "alkaline-earth-metal";
                else if (i == 12) divClass = "metal";
                else if (i == 13) divClass = "metalloid";
                else if (i == 14 || i == 15) divClass = "non-metal";
                else if (i == 16) divClass = "halogen";
                else divClass = "noble-gas";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <div class="noble-gas">
                    <p class="item">@chemicalElements[17].AtomicNumber</p>
                    <a href="@UrlHref(17, Elements.mainElements)">
                        <p class="item">@chemicalElements[17].Symbol</p>
                    </a>
                    <p class="item">@chemicalElements[17].Name</p>
                    <p class="item">@chemicalElements[17].AverageAtomicMass</p>
                </div>
            </td>
        </tr>

        <tr>
            <td rowspan="2">4</td>
            <td>4</td>

            @for (int i = 18; i < 18 + 10; i++)
            {
                string divClass = string.Empty;
                @if (i == 18) divClass = "alkali-metal";
                else if (i == 19) divClass = "alkaline-earth-metal";
                else divClass = "transition-metal";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }
            <td>
                <div></div>
            </td>
        </tr>

        <tr>
            <td>5</td>

            @for (int i = 28; i < 28 + 7; i++)
            {
                string divClass = string.Empty;
                if (i == 28 || i == 29) divClass = "transition-metal";
                else if (i == 30) divClass = "metal";
                else if (i == 31 || i == 32) divClass = "metalloid";
                else if (i == 33) divClass = "non-metal";
                else divClass = "halogen";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <div class="noble-gas">
                    <p class="item">@chemicalElements[35].AtomicNumber</p>
                    <a href="@UrlHref(35, Elements.mainElements)">
                        <p class="item">@chemicalElements[35].Symbol</p>
                    </a>
                    <p class="item">@chemicalElements[35].Name</p>
                    <p class="item">@chemicalElements[35].AverageAtomicMass</p>
                </div>
            </td>
        </tr>

        <tr>
            @{
                value = 5;
            }
            <td rowspan="2">@value</td>
            <td>6</td>

            @for (int i = 36; i < 36 + 10; i++)
            {
                string divClass = string.Empty;
                if (i == 36) divClass = "alkali-metal";
                else if (i == 37) divClass = "alkaline-earth-metal";
                else divClass = "transition-metal";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td>
                <div></div>
            </td>
        </tr>

        <tr>
            <td>7</td>

            @for (int i = 46; i < 46 + 7; i++)
            {
                string divClass = string.Empty;
                if (i == 46 || i == 47) divClass = "transition-metal";
                else if (i == 48 || i == 49) divClass = "metal";
                else if (i == 50 || i == 51) divClass = "metalloid";
                else divClass = "halogen";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <div class="noble-gas">
                    <p class="item">@chemicalElements[53].AtomicNumber</p>
                    <a href="@UrlHref(53, Elements.mainElements)">
                        <p class="item">@chemicalElements[53].Symbol</p>
                    </a>
                    <p class="item">@chemicalElements[53].Name</p>
                    <p class="item">@chemicalElements[53].AverageAtomicMass</p>
                </div>
            </td>
        </tr>

        <tr>
            @{
                value = 6;
            }

            <td rowspan="2">@value</td>
            <td>8</td>

            @for (int i = 54; i < 54 + 2; i++)
            {
                string divClass = string.Empty;
                if (i == 54) divClass = "alkali-metal";
                else divClass = "alkaline-earth-metal";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td>
                <div class="lanthanides">
                    <p class="item">57-71</p>
                    <p class="item">ЛАНТАНОИДЫ</p>
                </div>
            </td>

            @for (int i = 56; i < 56 + 7; i++)
            {
                <td>
                    <div class="transition-metal">
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td>
                <div></div>
            </td>
        </tr>

        <tr>
            <td>9</td>

            @for (int i = 63; i < 63 + 7; i++)
            {
                string divClass = string.Empty;
                if (i == 63 || i == 64) divClass = "transition-metal";
                else if (i >= 65 || i <= 67) divClass = "metal";
                else if (i == 68) divClass = "metalloid";
                else divClass = "halogen";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td colspan="3">
                <div></div>
            </td>
            <td>
                <div class="noble-gas">
                    <p class="item">@chemicalElements[70].AtomicNumber</p>
                    <a href="@UrlHref(70, Elements.mainElements)">
                        <p class="item">@chemicalElements[70].Symbol</p>
                    </a>
                    <p class="item">@chemicalElements[70].Name</p>
                    <p class="item">@chemicalElements[70].AverageAtomicMass</p>
                </div>
            </td>
        </tr>

        <tr>
            @{
                value = 7;
            }

            <td>@value</td>
            <td>10</td>

            @for (int i = 71; i < 71 + 2; i++)
            {
                string divClass = string.Empty;
                if (i == 71) divClass = "alkali-metal";
                else divClass = "alkaline-earth-metal";
                <td>
                    <div class=@divClass>
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            <td>
                <div class="actinides">
                    <p class="item">89-103</p>
                    <p class="item">АКТИНОИДЫ</p>
                </div>
            </td>

            @for (int i = 73; i < 73 + 5; i++)
            {
                <td>
                    <div class="transition-metal">
                        <p class="item">@chemicalElements[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.mainElements)">
                            <p class="item">@chemicalElements[i].Symbol</p>
                        </a>
                        <p class="item">@chemicalElements[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

            @for (int i = 0; i < 3; i++)
            {
                <td>
                    <div></div>
                </td>
            }
        </tr>

        <tr>
            <td colspan="2">
                <div class="oxides">
                    <p>высшие</p>
                    <p>оксиды</p>
                </div>
            </td>
            <td>R<sub>2</sub>O</td>
            <td>RO</td>
            <td>R<sub>2</sub>O<sub>3</sub></td>
            <td>RO<sub>2</sub></td>
            <td>R<sub>2</sub>O<sub>5</sub></td>
            <td>RO<sub>3</sub></td>
            <td>R<sub>2</sub>O<sub>7</sub></td>
            <td colspan="4">RO<sub>4</sub></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="volatile-hydrogen-compounds">
                    <p>летучие</p>
                    <p>водородные</p>
                    <p>соединения</p>
                </div>
            </td>

            @for (int i = 0; i < 3; i++)
            {
                <td>
                    <div></div>
                </td>
            }

            <td>RH<sub>4</sub></td>
            <td>RH<sub>3</sub></td>
            <td>H<sub>2</sub>R</td>
            <td>HR</td>
            <td colspan="4"></td>
        </tr>
    </table>

    <div>
        <p>ЛАНТАНОИДЫ</p>
    </div>

    <table>
        <tr>
            @for (int i = 0; i < 15; i++)
            {
                <td>
                    <div class="lanthanides">
                        <p class="item">@Model.Lanthanides[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.lanthanides)">
                            <p class="item">@Model.Lanthanides[i].Symbol</p>
                        </a>
                        <p class="item">@Model.Lanthanides[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }

        </tr>
    </table>

    <div>
        <p>АКТИНОИДЫ</p>
    </div>

    <table>
        <tr>
            @for (int i = 0; i < 15; i++)
            {
                <td>
                    <div class="actinides">
                        <p class="item">@Model.Actinides[i].AtomicNumber</p>
                        <a href="@UrlHref(i, Elements.actinides)">
                            <p class="item">@Model.Actinides[i].Symbol</p>
                        </a>
                        <p class="item">@Model.Actinides[i].Name</p>
                        <p class="item">@chemicalElements[i].AverageAtomicMass</p>
                    </div>
                </td>
            }
        </tr>

    </table>

</body>

</html>